<ion-view hide-nav-bar = "true" title="Novo Usuário"> 
    <ion-content>
        <div class="list card">
            <div class="list card">    
               <div class="item item-image">
               <img src="img/new-user.png">
               </div>
            </div>

            <form ng-submit="registrar(user)"> 
                <label class="item item-input">
                   <span class="input-label ion-person"></span>
                   <input type="text" placeholder="@username"  ng-model="user.email">
                </label>
                <label class="item item-input">
                    <span class="input-label ion-ios-unlocked"></span>
                    <input type="password" placeholder="@password" ng-model="user.password">
                </label>
                      
                <button ng-disabled="!user.email || !user.password"  class="button button-large button-full button-positive">
                   <i class="icon ion-log-in"> Cadastrar</i>  
                </button>
            </form>  
        </div> 
</ion-view>