<ion-view title="Novo Contato">

    <ion-content>

        <form ng-init="contato = [];" ng-submit="salvar(contato)">

            <div class="list">

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input type="text" ng-model="contato.nome">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Telefone</span>
                    <input type="tel" ng-model="contato.telefone">
                </label>                
            </div>

            <button ng-disabled="!contato.nome || !contato.telefone" ng-click="listar()" class="button button-large button-full button-calm">
               <i class="icon ion-android-contacts"></i>  
            </button>

        </form>

    </ion-content>

</ion-view>