<ion-view hide-nav-bar = "true">
    <ion-content>  
        <form ng-submit="enviar(ida)">
            <div class="list card">    
                <div class="item item-input">
                    <input type="datetime-local" class="igo" ng-model="ida.dateTime" [(ngModel)]="event.timeStarts" required/>
                </div>
                
                <div class="item item-image">
                    <img src="img/location.jpg">
                </div>

                <label class="item item-input">
                <i class="icon ion-location"></i>
                     <input required type="text" class="igo" ng-model="ida.go" placeholder="@go">
                </label>
                
                <label class="item item-input">
                    <i class="icon ion-location"></i>
                    <input required type="text" class="igo" ng-model="ida.here" placeholder="@here" >
                </label>

                <button  ng-disabled="!ida.go || !ida.here" class="button button-large button-full button-positive">
                    <i class="icon ion-paper-airplane">Go</i>  
                </button>
            </div>
        </form>
          
    </ion-content>
</ion-view>