<ion-view title="SEND">
    <ion-nav-buttons side = "right">
        <button class = "button button-clear icon icon ion-person-add" ng-click="contato()"> </button>
        <button class = "button button-clear icon icon ion-model-s" ng-click="viagem()"> </button>        
        <button class = "button button-clear icon icon ion-power" ng-click="login"> </button>        
    </ion-nav-buttons>
    <ion-content>
      <ion-list>

        <!-- Label de procura no topo da tela -->
        <label class = "Item item-input">
          <i class="icon ion-search"></i>
          <input type="text" class=""  placeholder="Search" ng-model="pesquisa.nome" uppercase>  
        </label>

        <ion-item ng-repeat="contato in contatos | filter : pesquisa | orderBy: 'nome' " >
         
            <ion-list>
              <a class="item item-avatar" href="#">
                  <img src="img/{{contato.img}}">
                  <h2>{{contato.nome}}</h2>
                  <p>{{contato.telefone}}</p>
                </a>          
            </ion-list>
            
            <ion-option-button class="button button-stable" ng-click="excluir(contato.$id)">
                <i class="icon ion-trash-b"></i> 
            </ion-option-button>
        </ion-item> 
          
      </ion-list>

    <button ng-click="alert('MENSAGENS ENVIADAS')" class="button button-large button-full button-calm">
      <i class="icon ion-android-done-all"></i>  
    </button>
    </ion-content>

</ion-view>

