<ion-view hide-nav-bar = "true"> 
  <ion-content>
    <div class="list card">
      <div class="list card">    
        <div class="item item-image">
        <img src="img/igo-logo2.png">
        </div>
      </div>
      <form ng-submit="login"> 
        <label class="item item-input">
          <span class="input-label ion-person"></span>
          <input type="text" placeholder="@username"  ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label ion-ios-unlocked"></span>
          <input type="password" placeholder="@password" ng-model="user.password">
        </label>
        
        <button ng-click="entrar(user)" ng-disabled="!user.email || !user.password" class="button button-large button-full button-positive">
           <i class="icon ion-log-in"> Login</i>  
        </button>
        
      </form>  
    </div> 
  </ion-content>   
</ion-view>