<ion-view title="VIAGENS">
    <ion-nav-buttons side = "right">   
    </ion-nav-buttons>
    <ion-content>
      <ion-list>

        <!-- Label de procura no topo da tela -->
        <label class = "Item item-input">
          <i class="icon ion-search"></i>
          <input type="text" class=""  placeholder="Pesquisar" ng-model="pesquisa.go" uppercase>  
        </label>

        <!-- Contatos(app.js) atribuídos ao contato  24/08/2017 -->
        <div class="item item-input-inset"> 
            <label class="item-input-wrapper">                                      
            </label>               
        </div>  

        <ion-item ng-repeat="ida in idas | filter : pesquisa | orderBy: 'here' " >
         
            <ion-list>
              <a class="item item-avatar" href="#">  
                  <img src="img/viagem.png">
                  <h4>{{ida.here}}</h4>
                  <p>Go: {{ida.go}}</p>
                </a>          
            </ion-list>
            
            <ion-option-button class="button button-stable" ng-click="excluir(ida.$id)">
                <i class="icon ion-trash-b"></i> 
            </ion-option-button>
        </ion-item> 
          
      </ion-list>

    <button ng-click="listar()" class="button button-large button-full button-calm" disabled>
     Historico
    </button>
    </ion-content>

</ion-view>

